/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  
/* إعدادات الخطوط الافتراضية */
body {
  font-family: 'Cairo', sans-serif; /* الخط الافتراضي للغة الإنجليزية */
  background-color: #D9E2EC;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}



/* وضع الـ dark mode */
.dark body{
  background-color: #212121;
  color: white;
}




.button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* لون عند تمرير الماوس في الوضع الفاتح */
}

.dropdown-menu {
  position: relative; /* أو absolute إذا لزم الأمر */
  z-index: 9999; /* قيمة عالية تجعلها تظهر فوق الخريطة */
}
.map-container {
  position: relative; /* أو absolute حسب التصميم */
  z-index: 1;
}


/* .leaflet-container {
  height: 100%;
  width: 100%;
  background: transparent; 
}

.dark .leaflet-container {
  background: #121212; 
} */





