/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  
/* إعدادات الخطوط الافتراضية */
body {
  font-family: 'Cairo', sans-serif; /* الخط الافتراضي للغة الإنجليزية */
  background-color: #D9E2EC;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* النصوص العربية */
/* html[lang="ar"] body {
  font-family: 'Tajawal', sans-serif; 
} */

/* وضع الـ dark mode */
.dark body{
  background-color: #333;
  color: white;
}



.button {
  background-color: #007BFF; /* لون الزر في الوضع الفاتح */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* لون عند تمرير الماوس في الوضع الفاتح */
}

/* .leaflet-container {
  height: 100%;
  width: 100%;
  background: transparent; 
}

.dark .leaflet-container {
  background: #121212; 
} */





