
/* say.css */
:root {
  --say-face: white;
  --say-picorna: gray;
  --say-skin: gray;
}

.say {
  width: 80px;
  height: 80px;
  margin: auto;
  z-index: 4;
  position: relative;
  transition: transform 1s ease-in-out 0ms;
}

.say * {
  position: absolute;
}

.say:active {
  transform: scale(1.5);
  cursor: not-allowed;
}

.say-head {
  width: 50%;
  height: 45%;
  background: linear-gradient(
    45deg,
    var(--say-skin),
    rgb(239, 240, 228)
  );
  border-radius: 30%;
  top: 1%;
  left: 25%;
  z-index: 1;
}

.say-face {
  width: 60%;
  height: 70%;
  background-color: var(--say-face);
  border-radius: 30%;
  top: 13%;}

.say-face.left {
  left: 5%;
}

.say-face.right {
  right: 5%;
}

.say-chin {
  width: 90%;
  height: 70%;
  background-color: var(--say-face);
  top: 25%;
  left: 5%;
  border-radius: 10%;
}

.say-eye {
  width: 15%;
  height: 17%;
  background-color: black;
  top: 45%;
  border-radius: 50%;
}

.say-eye.left {
  left: 25%;
}

.say-eye.right {
  right: 25%;
}

.say-eye-lid {
  width: 150%;
  height: 100%;
  background-color: var(--say-face);
  top: 25%;
  left: -23%;
  border-radius: 50%;
}

.say-blush {
  width: 15%;
  height: 10%;
  background-color: pink;
  top: 65%;
  border-radius: 50%;
}

.say-blush.left {
  left: 15%;
}

.say-blush.right {
  right: 15%;
}

/* إزالة المنقار وتحويله إلى فم */
.say-mouth {
  width: 30%;
  height: 10%;
  background-color: black;
  border-radius: 50% 50% 0 0;
  top: 70%;
  left: 35%;
}

@keyframes talking {
  0% {
    height: 10%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 10%;
  }
}

.say-mouth {
  animation: talking 1s infinite ease-in-out;
}

.say-body {
  width: 53%;
  height: 45%;
  background: linear-gradient(
    45deg,
    rgb(134, 133, 133) 0%,
    rgb(234, 231, 231) 25%,
    white 67%
  );
  border-radius: 80% 80% 50% 50%;
  top: 40%;
  left: 23.5%;
}

.say-body::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 45%;
  background-color: var(--say-skin);
  top: 10%;
  left: 25%;
  border-radius: 0% 0% 100% 100%;
  opacity: 70%;
}

.say-arm {
  width: 30%;
  height: 60%;
  background: linear-gradient(
    90deg,
    var(--say-skin),
    rgb(209, 210, 199)
  );
  border-radius: 30% 30% 30% 120%;
  z-index: -1;
}

.say-arm.left {
  top: 35%;
  left: 5%;
  transform-origin: top left; 
  transform: rotate(130deg) scaleX(-1);
  animation: wave 3s linear infinite;
}

.say-arm.right {
  top: 0%;
  right: -5%;
  transform: rotate(-45deg);
}

@keyframes wave {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }
  20% {
    transform: rotate(130deg) scaleX(-1);
  }
  30% {
    transform: rotate(110deg) scaleX(-1);
  }
  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}

.say-foot {
  width: 15%;
  height: 30%;
  background-color: var(--say-picorna);
  top: 85%;
  border-radius: 50%;
  z-index: -1;
}

.say-foot.left {
  left: 25%;
  transform: rotate(80deg);
}

.say-foot.right {
  right: 25%;
  transform: rotate(-80deg);
}
